.filter {
  display: flex;
  align-items: center;
  padding-left: 24px;
  padding-bottom: 11px;
  padding-top: 11px;
  border-bottom: 3px solid rgba(231,231,231,0.56);
}
.filter-button-container {
  background-color: #ebebeb;
  width: 40px;
  height: 33px;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-right: 7px;
  padding-left: 8px;
}
.filter-button-icon {
  cursor: pointer;
  border: none;
  padding: 0px;
  background: none;
  text-transform: uppercase;
  font-size: 24px;
  font-family: 'Avenir next';
  color: #d6d6d6;
}
.filter .filter-button-text {
  cursor: pointer;
  border: none;
  padding: 0px;
  background: none;
  text-transform: uppercase;
  font-size: 24px;
  font-family: 'Avenir next';
  color: #d6d6d6;
}
.filter-button-text.filter-button-active {
  color: #4d42f8;
}
/*.filter-row-gender{
  padding-left: 30px;
  width: 180px;
  display: flex;
  justify-content: space-between;
}*/
.filter-row-sizes {
  padding-left: 50px;
  display: flex;
  align-items: center;
}
.filter-row-title{
  text-transform: uppercase;
  font-size: 24px;
  padding-right: 18px;
  font-family: 'Avenir next';
  color: #4d42f8;
  background-color: #fff;
}
.filter-row-values {
  width: 254px;
  display: flex;
  justify-content: space-between;
}
/*gallery*/
.item {
  padding: 0px;
  width: 294px;
  height: 294px;
  border: 9px solid #f4f4f4;
  margin-bottom: 17px;
}
.item-link {
  text-decoration: none;
}
.item-img {
  width: 294px;
  height: 197px;
  position: relative;
}
.item-badge-sale {
  width: 76px;
  height: 32px;
  background-color: #ff5c5c;
  color: #fff;
  font-size: 14px;
  font-family: 'Avenir next';
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
}
.item-cost {
  height: 91px;
  border-top: 6px solid #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item-cost{
  font-family: 'Avenir next';
  font-size: 30px;
  color: #0d0d0d;
}
.item-cost.sale-cost {
  background-image: linear-gradient(107deg, #0c09bf, #966dd8);
}
.item-cost.sale-cost{
  color: #fff;
}